body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
b {
	margin: 0px; padding: 0px;
}
i {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
span {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
div {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
img {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
b {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
i {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
a {
	font-style: normal; vertical-align: middle; -webkit-tap-highlight-color: transparent;
}
a {
	background: none; text-decoration: none;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
input {
	outline: 0px;
}
textarea {
	outline: 0px;
}
menu {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none;
}
h1 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
h2 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
h3 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
h4 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
h5 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
h6 {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
em {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
del {
	font-size: 100%; font-style: normal; font-weight: normal; -webkit-text-size-adjust: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
caption {
	padding: 0px;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
::-ms-clear {
	display: none;
}
::-ms-reveal {
	display: none;
}
html {
	margin: 0px; padding: 0px; width: 100%; height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; font-size: 10px;
}
body {
	margin: 0px; padding: 0px; width: 100%; height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; font-size: 10px;
}
img {
	border: 0px currentColor; border-image: none;
}
input[type='text'] {
	border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;
}
input[type='email'] {
	border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;
}
input[type='search'] {
	border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;
}
input[type='password'] {
	border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;
}
textarea {
	border-radius: 0px; -webkit-appearance: none; -moz-appearance: none;
}
input {
	font-size: 12px;
}
textarea {
	font-size: 12px;
}
small {
	font-size: 12px;
}
video {
	background: black;
}
body {
	background: white !important; font-size: 10px; box-sizing: border-box;
}
html {
	background: white !important; font-size: 10px; box-sizing: border-box;
}
.book .book-body .page-wrapper .page-inner section.normal ul {
	margin: 0px; padding: 0px;
}
*::before {
	box-sizing: inherit;
}
*::after {
	box-sizing: inherit;
}
@media all and (min-width:1px)
{
body {
	font-size: 10px;
}
}
.hbox {
	top: -100px; display: inline-block; position: fixed;
}
.sm {
	top: -100px; width: 750px; display: inline-block; position: fixed;
}
.md {
	top: -100px; width: 699px; display: inline-block; position: fixed;
}
.lg {
	top: -100px; width: 991px; display: inline-block; position: fixed;
}
.xl {
	top: -100px; width: 1199px; display: inline-block; position: fixed;
}
.o_pre {
	background: rgb(220, 249, 222); padding: 10px; border: currentColor; border-image: none; height: auto; color: rgb(60, 161, 77); line-height: 1.75em; overflow: scroll; font-size: 16px; max-height: 200px; box-sizing: border-box;
}
.o_hide {
	display: none;
}
.o_body {
	overflow: hidden; position: relative; z-index: 0; min-height: 100%;
}
.o_main {
	min-height: 100%;
}
.o_zz {
	background: url("#") rgb(0, 0, 0); left: -20px; top: -50px; right: -20px; bottom: -50px; position: fixed; z-index: 10; opacity: 0.5; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_clear {
	height: 0px; clear: both; display: block; visibility: hidden;
}
.o_clearbox::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.o_table {
	width: 100%; height: 100%; display: table; box-sizing: border-box;
}
.o_cell {
	width: 100%; text-align: center; vertical-align: middle; display: table-cell; box-sizing: border-box;
}
.o_gray {
	-moz-filter: grayscale(100%); -o-filter: grayscale(100%);
}
.o_color {
	filter: none; -moz-filter: grayscale(0%); -o-filter: grayscale(0%);
}
.pointer {
	cursor: pointer;
}
.emt {
	color: rgb(237, 237, 237);
}
.o_link_base {
	color: rgb(102, 102, 102); cursor: pointer;
}
.o_link_base:hover {
	color: rgb(60, 161, 77);
}
.o_link_light {
	color: rgb(229, 67, 174); cursor: pointer;
}
.o_link_light * {
	color: rgb(229, 67, 174); cursor: pointer;
}
.o_link_light:hover {
	color: rgb(239, 77, 184);
}
.o_link_light a:hover {
	color: rgb(239, 77, 184);
}
.o_link_light:hover * {
	color: rgb(239, 77, 184);
}
.o_link_base a {
	color: rgb(102, 102, 102);
}
.o_link_base a:hover {
	color: rgb(60, 161, 77);
}
.o_textlink_base a:active {
	color: rgb(60, 161, 77);
}
.o_zIndex1 {
	position: relative; z-index: 1 !important;
}
.o_zIndex2 {
	position: relative; z-index: 2 !important;
}
.o_zIndex3 {
	position: relative; z-index: 3 !important;
}
.o_zIndex4 {
	position: relative; z-index: 4 !important;
}
.o_zIndex5 {
	position: relative; z-index: 5 !important;
}
.o_noselect {
	-ms-user-select: none; user-select: none; -moz-user-select: none; -webkit-user-select: none;
}
.o_3d {
	-webkit-transform: translateZ(0); -webkit-backface-visiblity: hidden;
}
.leaveout {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.o_autoW {
	box-sizing: border-box;
}
.o_autoH {
	box-sizing: border-box;
}
.o_H100 {
	box-sizing: border-box;
}
.o_autoW {
	margin: 0px !important; padding: 0px !important; border: 0px currentColor !important; border-image: none !important;
}
.o_autoH {
	margin: 0px !important; padding: 0px !important; border: 0px currentColor !important; border-image: none !important;
}
.o_fixW {
	vertical-align: top; display: inline-block;
}
.o_autoW {
	vertical-align: top; display: inline-block;
}
.o_H100 {
	vertical-align: top; display: inline-block;
}
.o_oneline {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.o_moreline {
	-ms-word-wrap: break-word;
}
h1 {
	-ms-word-wrap: break-word;
}
h2 {
	-ms-word-wrap: break-word;
}
h3 {
	-ms-word-wrap: break-word;
}
p {
	-ms-word-wrap: break-word;
}
span {
	-ms-word-wrap: break-word;
}
td {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
.o_animate {
	transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_animate-solw {
	transition-duration: 0.8s; transition-timing-function: ease-out;
}
.o_animate-fast {
	transition-duration: 0.1s; transition-timing-function: ease-in;
}
.o_borderbox {
	box-sizing: border-box;
}
.o_Hrel {
	transition-duration: 0.1s; transition-timing-function: ease-in;
}
.o_header {
	background: rgb(60, 161, 77);
}
.o_header::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.o_menu {
	z-index: 11;
}
.o_menu_link {
	background: green; width: 50px; height: 50px; text-align: center; color: white; line-height: 50px; font-size: 30px; display: none; position: relative;
}
.o_menu_link.cur {
	background: green;
}
.o_menu_link img {
	width: 50%; vertical-align: middle;
}
ul.o_scrollH {
	left: 20px; position: relative; box-sizing: inherit;
}
ul.o_scrollH li {
	left: -20px; width: 100%; position: relative; box-sizing: border-box;
}
.o_cutimgbox {
	width: 100%; height: 100%; font-size: 0px; display: table; position: relative; box-sizing: border-box; -webkit-transform: translateZ(0); -webkit-text-size-adjust: none; -webkit-backface-visiblity: hidden;
}
.o_cutimgbox .bgbox {
	width: 100%; height: 100%; text-align: center; font-size: 0px; vertical-align: middle; display: table-cell; position: relative; box-sizing: border-box;
}
.o_cutimgbox .bgbox .imgbox {
	background: rgb(51, 51, 51); overflow: hidden; font-size: 0px; display: inline-block; position: relative; box-sizing: border-box; -webkit-text-size-adjust: none;
}
.o_cutimgbox .bgbox .imgbox img {
	width: auto; height: auto; position: relative; max-height: 100%; max-width: 100%; opacity: 0.2;
}
.o_cutimgbox .bgbox .imgbox::after {
	width: 100%; display: block; position: relative; content: "";
}
.o_cutimgbox .cutbox {
	left: 50%; top: 50%; font-size: 0px; position: absolute; z-index: 0;
}
.o_cutimgbox .cutbox .box {
	left: 0px; top: 0px; width: 200px; height: 200px; overflow: hidden; position: absolute;
}
.o_cutimgbox .cutbox .box img {
	background: rgb(153, 153, 153); left: 0px; top: 0px; position: relative;
}
.o_cutimgbox .controlbox {
	left: 50%; top: 50%; font-size: 0px; position: absolute; z-index: 1;
}
.o_cutimgbox .controlbox .control {
	left: 0px; top: 0px; width: 200px; height: 200px; font-size: 0px; position: absolute; cursor: move;
}
.o_cutimgbox .controlbox .control .resize {
	width: 24px; height: 24px; text-align: center; right: -12px; bottom: -12px; line-height: 24px; font-size: 0px; position: absolute; cursor: se-resize;
}
.o_cutimgbox .controlbox .control .resize::after {
	background: white; border-radius: 100%; border: 1px solid rgb(238, 238, 238); border-image: none; left: 50%; top: 50%; width: 10px; height: 10px; margin-top: -5px; margin-left: -5px; vertical-align: middle; display: inline-block; position: absolute; content: ""; box-sizing: border-box; box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}
.oPager {
	vertical-align: top; display: inline-block; white-space: nowrap;
}
.oPager a {
	background: white; border-radius: 0px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 38px; text-align: center; color: rgb(51, 51, 51); line-height: 38px; font-size: 14px; margin-right: 5px; vertical-align: top; display: inline-block; min-width: 38px; box-sizing: border-box;
}
.oPager a:hover {
	background: rgb(238, 238, 238); border: 1px solid green; border-image: none; color: rgb(51, 51, 51);
}
.oPager a.cur {
	background: green; border: 1px solid green; border-image: none; color: white;
}
.oPager a.lose {
	background: rgb(204, 204, 204); border: 1px solid rgb(237, 237, 237); border-image: none; color: white; cursor: default; opacity: 0.5;
}
.oPager span {
	color: rgb(51, 51, 51); line-height: 38px; font-size: 14px; margin-right: 5px; vertical-align: top;
}
.oPager .jumpbox {
	display: inline-block;
}
.oPager .prev {
	background: none; padding: 0px 10px; font-family: iconfont;
}
.oPager .next {
	background: none; padding: 0px 10px; font-family: iconfont;
}
.oPager .jump {
	background: none; padding: 0px 10px; font-family: iconfont;
}
.oPager .prev {
	content: "\e896";
}
.oPager .next {
	content: "\e603";
}
.oPager .jump {
	content: "";
}
.oPager .text {
	padding: 0px 10px; border: 1px solid rgb(238, 238, 238); border-image: none; width: 100px; height: 38px; line-height: 38px; font-size: 14px; margin-right: 5px;
}
.ui_form {
	padding: 10px 30px 20px; text-align: left;
}
.ui_form dl {
	font-size: 0px; display: block;
}
.ui_form dl label {
	width: 90px; text-align: left; color: rgb(51, 51, 51); font-size: 14px; vertical-align: top; display: inline-block;
}
.ui_form dl .cbox {
	width: 450px; display: inline-block;
}
.ui_input {
	border: 1px solid rgb(204, 204, 204); border-image: none; line-height: normal; padding-right: 0px; font-size: 0px; margin-bottom: 10px; margin-left: 15px; vertical-align: top; display: inline-block; white-space: normal; box-sizing: border-box;
}
.ui_input.lose {
	background: rgb(238, 238, 238);
}
.ui_input input {
	background: none; padding: 10px 15px 10px 0px; border: currentColor; border-image: none; color: rgb(153, 153, 153); line-height: 18px; font-size: 14px; margin-left: 15px; box-sizing: border-box;
}
.ui_input textarea {
	background: none; padding: 10px 15px 10px 0px; border: currentColor; border-image: none; width: 100%; color: rgb(153, 153, 153); line-height: 18px; font-size: 14px; display: block; box-sizing: border-box; resize: none;
}
.ui_input .icon {
	width: 30px; text-align: left; color: rgb(153, 153, 153); line-height: 38px; font-size: 16px; display: inline-block;
}
.ui_input .btn {
	margin: 3px;
}
.ui_input .time {
	margin: 10px 0px; padding: 0px 15px 0px 10px; color: rgb(153, 153, 153); line-height: 18px; font-size: 12px; border-left-color: rgb(238, 238, 238); border-left-width: 1px; border-left-style: solid; display: inline-block;
}
.ui_input .link {
	padding: 0px 5px; color: rgb(27, 111, 226); line-height: 38px; font-size: 12px;
}
.ui_input .code {
	background: rgb(238, 238, 238); margin: 3px; width: 100px; height: 32px; display: inline-block;
}
.ui_input * {
	vertical-align: top;
}
.ui_input input.full {
	color: rgb(51, 51, 51);
}
.ui_input textarea.full {
	color: rgb(51, 51, 51);
}
.ui_input.cur {
	border-color: rgb(27, 111, 226); box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.ui_input.err {
	border-color: rgb(255, 120, 0); box-shadow: 0px 0px 6px rgba(245,170,0,0.2);
}
.ui_form .o_DropdownBody {
	width: 100%; margin-bottom: 10px;
}
.ui_form .ui_addressbox {
	width: 100%;
}
.ui_form .o_Dropdown {
	width: 100% !important;
}
.ui_form label.name {
	width: 100%; color: rgb(102, 102, 102); line-height: 1.3em; font-size: 14px; margin-bottom: 10px; display: block;
}
.ui_input .toolbar {
	padding: 10px; text-align: right; color: rgb(204, 204, 204); line-height: 1.3em; font-size: 12px;
}
.ui_radio {
	background: url("../images/form_bg.png") no-repeat -5px -30px; height: 30px; color: rgb(102, 102, 102); line-height: 30px; padding-right: 10px; padding-left: 30px; font-size: 14px; margin-right: 10px; display: inline-block; cursor: pointer;
}
.ui_radio.cur {
	background-position: -5px 0px;
}
.ui_radio.lose {
	background-position: -5px -60px; cursor: default;
}
.ui_radio input {
	display: none;
}
.ui_checkbox {
	background: url("../images/form_bg.png") no-repeat -5px -90px; height: 30px; color: rgb(102, 102, 102); line-height: 30px; padding-right: 10px; padding-left: 30px; font-size: 14px; margin-right: 10px; display: inline-block; cursor: pointer;
}
.ui_checkbox.cur {
	background-position: -5px -120px;
}
.ui_checkbox.lose {
	background-position: -5px -150px; cursor: default;
}
.ui_checkbox input {
	display: none;
}
.ui_err {
	color: rgb(255, 120, 0); line-height: 16px; padding-left: 22px; font-size: 12px; margin-bottom: 10px; display: none; position: relative;
}
.ui_err.show {
	display: block;
}
.ui_err a {
	padding: 0px 2px; color: rgb(50, 190, 255); display: inline-block;
}
.ui_err i {
	background: url("../images/form_bg.png") no-repeat left -187px; left: 0px; top: 0px; width: 16px; height: 16px; display: inline-block; position: absolute;
}
.o_font0 {
	font-size: 0px !important;
}
.o_g {
	width: 100%; font-size: 0px !important; vertical-align: top; display: block; box-sizing: border-box;
}
.o_g::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.o_u {
	display: inline-block; box-sizing: border-box; text-rendering: auto;
}
.o_shade {
	background: rgb(0, 0, 0); padding: 0px 3.12%; left: 0px; top: 0px; width: 100%; height: 2000px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_shade.show {
	opacity: 0.5;
}
.o_popup {
	background: white; left: 50%; width: 860px; margin-left: -430px; display: none; position: fixed; z-index: 2147483647; opacity: 0; box-shadow: 1px 9px 15px 3px rgba(0,0,0,0.2); transition-duration: 0.3s; transition-timing-function: ease-in;
}
.o_popup.absolute {
	position: absolute;
}
.o_popup.show {
	animation:popup_show 0.3s ease-out forwards; margin-top: 0px; opacity: 1; -webkit-animation-fill-mode: forwards; -moz-animation: popup_show 0.3s ease-out 0s; -webkit-animation: popup_show 0.3s ease-out 0s; -o-animation: popup_show 0.3s ease-out 0s;
}
.o_popup.show.hide {
	animation:popup_hide 0.3s ease-out forwards; margin-top: 0px; -webkit-animation-fill-mode: forwards; -moz-animation: popup_hide 0.3s ease-out 0s; -webkit-animation: popup_hide 0.3s ease-out 0s; -o-animation: popup_hide 0.3s ease-out 0s;
}
.o_popupclose {
	background: rgb(238, 238, 238); top: 0px; width: 30px; height: 30px; text-align: center; right: 0px; color: rgb(67, 64, 64); line-height: 30px; font-family: "iconfont"; font-size: 25px; vertical-align: top; float: right; display: inline-block; position: absolute; cursor: pointer;
}
.o_popupclose::before {
	
}
.o_popup.o_alert {
	padding: 45px 0px 30px; width: 400px; margin-left: -200px;
}
.o_popup.o_confirm {
	padding: 45px 30px 30px; width: 500px; margin-left: -250px;
}
.o_popup.o_alert .cont {
	text-align: center; color: rgb(51, 51, 51); padding-bottom: 30px; font-size: 14px;
}
.o_popup.o_confirm .cont {
	text-align: center; color: rgb(51, 51, 51); padding-bottom: 30px; font-size: 14px;
}
.o_popup.o_alert .tool {
	text-align: center;
}
.o_popup.o_confirm .tool {
	text-align: center;
}
.o_popup.o_alert .tool .btn {
	margin: 0px 10px;
}
.o_popup.o_confirm .tool .btn {
	margin: 0px 10px;
}
h1 {
	padding: 10px; color: rgb(51, 51, 51); line-height: 1.5em; font-size: 26px; margin-bottom: 10px; position: relative;
}
h2 {
	margin: 10px 0px; color: rgb(51, 51, 51); line-height: 1.5em; font-size: 16px; position: relative;
}
h3 {
	margin: 10px 0px; color: rgb(51, 51, 51); line-height: 1.5em; font-size: 12px; position: relative;
}
h1 span {
	padding: 0px; display: inline-block;
}
h2 span {
	padding: 0px; display: inline-block;
}
h3 span {
	padding: 0px; display: inline-block;
}
select {
	opacity: 0;
}
.o_DropdownBody {
	vertical-align: middle; display: inline-block; position: relative; z-index: 0;
}
.o_Dropdown {
	background: white; border: 1px solid rgb(204, 204, 204); border-image: none; height: 40px; display: inline-block; position: relative; z-index: 9; cursor: pointer; box-sizing: border-box; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_Dropdown .name {
	height: 40px; text-align: left; color: rgb(102, 102, 102); line-height: 40px !important; overflow: hidden; padding-right: 30px; padding-left: 15px; font-size: 14px; display: block; white-space: nowrap; position: relative; z-index: 1; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.o_Dropdown .i_down {
	top: 50%; width: 12px; height: 12px; right: 6px; color: black; line-height: 1em; font-family: iconfont; font-size: 12px; margin-top: -6px; display: inline-block; position: absolute;
}
.o_Dropdown .i_down::before {
	color: rgb(153, 153, 153); content: "\ea25";
}
.o_Dropdown.selected span {
	color: rgb(102, 102, 102);
}
.o_Dropdown select {
	left: 0px; top: 0px; width: 100%; height: 100%; color: rgb(160, 160, 160); line-height: 40px; text-indent: 0px; font-size: 16px; position: absolute; z-index: 2; cursor: default; opacity: 0;
}
.o_Dropdown select {
	line-height: 30px;
}
.o_Dropdown.lose {
	background: rgb(239, 239, 239);
}
.o_Dropdown.lose .name {
	color: rgb(153, 153, 153);
}
.o_Dropdown .listbox {
	left: -1px; top: 40px; padding-top: 5px; margin-top: -10px; display: none; position: absolute; min-width: 100%;
}
.o_Dropdown .list {
	background: white; border: 1px solid rgb(204, 204, 204); border-image: none; max-height: 200px; min-width: 100%; box-shadow: 1px 9px 15px 3px rgba(0,0,0,0.2);
}
.o_Dropdown .list ul h2 {
	margin: 0px; padding: 5px 7.5px; color: black; line-height: 1.37em; font-size: 14px; font-weight: bold;
}
.o_Dropdown .list li {
	color: rgb(102, 102, 102); font-size: 12px; display: block; white-space: nowrap; cursor: pointer;
}
.o_Dropdown .list li span {
	padding: 5px 15px; line-height: 1.37em; font-size: 12px; display: block;
}
.o_Dropdown .list li:hover {
	background: rgb(237, 237, 237); color: rgb(51, 51, 51);
}
.o_Dropdown .list li.lose {
	color: rgb(204, 204, 204); cursor: default;
}
.o_Dropdown .list li.cur {
	background: rgb(232, 243, 252); color: rgb(27, 111, 226);
}
.o_Dropdown .o_scrollWin .o_barbox {
	width: 15px;
}
.o_DropdownBody.open .o_Dropdown {
	border-color: rgb(27, 111, 226); box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.o_DropdownBody.open .o_Dropdown .i_down::before {
	content: "\ea25";
}
.o_Dropdown .list li.ed {
	display: none;
}
.o_Dropdown .list .group.ed {
	display: none !important;
}
.o_Dropdown.searching .list .group {
	display: none;
}
.o_Dropdown.searching .list .group.groupopen {
	display: block;
}
.o_Dropdown.searching .list .group.groupopen li {
	display: block;
}
.o_Dropdown.searching .list li {
	display: none;
}
.o_Dropdown.searching .list li.groupopen {
	display: block;
}
.o_Dropdown .listbox .emptyinfo {
	text-align: center; color: rgb(102, 102, 102); line-height: 1.37em; font-size: 12px; display: none;
}
.o_Dropdown .listbox.empty .emptyinfo {
	display: block;
}
.o_Dropdown .listbox.lose .o_scrollbody ul {
	opacity: 0.1;
}
.o_Dropdown .listbox.lose .o_barbox {
	opacity: 0.1;
}
.o_Dropdown .listbox.lose .o_scrollbody::after {
	background: gray; left: 0px; top: 0px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; opacity: 0.2;
}
.o_Dropdown .listbox .o_scrollbody .errinfo {
	padding: 0px 15px; left: 0px; top: 50%; text-align: center; right: 0px; color: rgb(226, 95, 30); line-height: 1.37em; font-size: 14px; font-weight: bold; margin-top: -0.67em; display: none; position: absolute; box-sizing: border-box;
}
.o_Dropdown .listbox.lose .o_scrollbody .errinfo {
	display: block; z-index: 1;
}
.o_Dropdown input {
	background: none; border: currentColor; border-image: none; width: 50px; height: 40px; padding-right: 32px; padding-left: 10px; font-size: 12px; display: inline-block;
}
.o_Dropdown .tabs {
	margin: 5px 0px 0px 5px; display: inline-block;
}
.o_Dropdown .tabs span {
	background: rgb(60, 161, 77); padding: 0px 20px 0px 5px; color: white; line-height: 40px; font-size: 14px; display: inline-block; position: relative;
}
.o_Dropdown .tabs span i {
	top: 0px; width: 20px; text-align: center; right: 0px; font-size: 14px; position: absolute;
}
.o_Dropdown .tabs span i::before {
	content: "X";
}
.o_InputSelectBox {
	background: white; border: currentColor; border-image: none; height: auto; display: inline-block; position: relative; z-index: 9; cursor: pointer; box-sizing: border-box; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_InputSelectBox select {
	left: 0px; top: 0px; width: 100%; height: 100%; color: rgb(160, 160, 160); line-height: 40px; text-indent: 0px; font-size: 16px; position: absolute; z-index: 2; cursor: default; opacity: 0;
}
.o_InputSelectBox select {
	line-height: 30px;
}
.o_InputSelectBox.lose {
	background: rgb(239, 239, 239);
}
.o_InputSelectBox.lose .name {
	color: rgb(153, 153, 153);
}
.o_InputSelectBox .listbox {
	left: -1px; top: 40px; margin-top: -10px; display: none; position: absolute; min-width: 100%;
}
.o_InputSelectBox .list {
	background: white; border: 1px solid rgb(204, 204, 204); border-image: none; max-height: 200px; min-width: 100%; box-shadow: 1px 9px 15px 3px rgba(0,0,0,0.2);
}
.o_InputSelectBox .list ul h2 {
	margin: 0px; padding: 5px 7.5px; color: black; line-height: 1.37em; font-size: 14px; font-weight: bold;
}
.o_InputSelectBox .list li {
	color: rgb(102, 102, 102); font-size: 12px; display: block; white-space: nowrap; cursor: pointer;
}
.o_InputSelectBox .list li span {
	padding: 5px 15px; line-height: 1.37em; font-size: 12px; display: block;
}
.o_InputSelectBox .list li:hover {
	background: rgb(237, 237, 237); color: rgb(51, 51, 51);
}
.o_InputSelectBox .list li.lose {
	color: rgb(204, 204, 204); cursor: default;
}
.o_InputSelectBox .list li.cur {
	background: rgb(232, 243, 252); color: rgb(27, 111, 226);
}
.o_InputSelectBox .o_scrollWin .o_barbox {
	width: 15px;
}
.o_InputSelectBox .o_scrollWin .o_barbox span {
	margin-left: 7.5px;
}
.oDropdownlist {
	background: white; border-radius: 3px; border: currentColor; border-image: none; width: 80% !important; overflow: hidden; margin-left: -40% !important; max-height: 400px; box-shadow: 1px 9px 15px 3px rgba(0,0,0,0.2);
}
.oDropdownlist ul h2 {
	margin: 0px; padding: 5px 7.5px; color: black; line-height: 1.37em; font-size: 14px; font-weight: bold;
}
.oDropdownlist li {
	color: rgb(102, 102, 102); font-size: 14px; display: block; white-space: nowrap; cursor: pointer;
}
.oDropdownlist li span {
	padding: 15px; line-height: 1.37em; font-size: 12px; display: block;
}
.oDropdownlist li:hover {
	background: rgb(237, 237, 237); color: rgb(51, 51, 51);
}
.oDropdownlist li.lose {
	color: rgb(204, 204, 204); cursor: default;
}
.oDropdownlist li.cur {
	background: rgb(60, 161, 77); color: rgb(27, 111, 226);
}
.oDropdownlist .o_scrollWin .o_barbox {
	width: 15px;
}
.oDropdownlist .o_scrollWin .o_barbox span {
	margin-left: 7.5px;
}
.o_scrollWin {
	height: 100%; overflow: hidden; position: relative; min-height: 10px;
}
.o_scrollWin .o_scrollbody {
	left: 0px; top: 0px; width: 100%; scrollbar-width: none;
}
.o_scrollWin .o_barbox {
	padding: 15px 0px; top: 0px; width: 20px; height: 100%; right: 0px; overflow: hidden; position: absolute; z-index: 1; box-sizing: border-box;
}
.o_scrollWin .o_barbox span {
	background: rgb(238, 238, 238); left: 50%; width: 1px; height: 100%; margin-left: -0.5px; display: block; position: absolute;
}
.o_scrollWin .o_barbox .o_bar {
	background: black; left: 50%; top: 0px; width: 5px; margin-top: 15px; margin-left: -2.5px; display: block; position: absolute; z-index: 1; cursor: pointer; min-height: 10px;
}
.o_bgbtnbase {
	background: rgb(153, 153, 153); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(238, 238, 238); display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_bgbtnbase:hover {
	background: rgb(51, 51, 51); border-color: rgb(51, 51, 51); z-index: 1;
}
.o_linebtnbase {
	background: rgba(0, 0, 0, 0); border: 1px solid rgb(153, 153, 153); border-image: none; color: rgb(153, 153, 153); display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_linebtnbase:hover {
	border-color: rgb(51, 51, 51); color: rgb(51, 51, 51); z-index: 1;
}
.o_bgbtn1 {
	background: rgb(60, 161, 77); border: 1px solid rgb(60, 161, 77); border-image: none; color: white; display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_linebtn1 {
	background: rgba(0, 0, 0, 0); border: 1px solid rgb(60, 161, 77); border-image: none; color: rgb(60, 161, 77); display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_bgbtn1:hover {
	background: rgb(80, 181, 97); border-color: rgb(80, 181, 97);
}
.o_linebtn1:hover {
	border-color: rgb(80, 181, 97); color: rgb(80, 181, 97);
}
.o_linebtn1:hover i {
	color: rgb(80, 181, 97);
}
.o_bgbtn2 {
	background: rgb(229, 67, 174); border: 1px solid rgb(229, 67, 174); border-image: none; color: white; display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_linebtn2 {
	background: rgba(0, 0, 0, 0); border: 1px solid rgb(229, 67, 174); border-image: none; color: rgb(229, 67, 174); display: inline-block; cursor: pointer; transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_bgbtn2:hover {
	background: rgb(249, 87, 194); border-color: rgb(249, 87, 194);
}
.o_linebtn2:hover {
	border-color: rgb(249, 87, 194); color: rgb(249, 87, 194);
}
.o_bgbtn1.o_lose {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_bgbtn2.o_lose {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_bgbtnbase.o_lose {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_bgbtn1.o_lose:hover i {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_bgbtn2.o_lose:hover i {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_bgbtnbase.o_lose:hover i {
	background: rgb(238, 238, 238); border-color: rgb(238, 238, 238); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtn1.o_lose {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtn2.o_lose {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtnbase.o_lose {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtn1.o_lose:hover i {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtn2.o_lose:hover i {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_linebtnbase.o_lose:hover i {
	background: white; border-color: rgb(242, 242, 242); color: rgb(204, 204, 204); cursor: default;
}
.o_color_demo {
	background: rgba(0, 0, 0, 0.2); text-align: center; color: white; font-size: 30px;
}
.o_form {
	width: 70%;
}
.o_form .o_row {
	background: none; margin-bottom: 5px;
}
.o_form .o_row input[type='text'] {
	background: white; border: 1px solid rgb(153, 153, 153); border-image: none; width: 100%; height: 100%; color: rgb(51, 51, 51); font-size: 14px; display: inline-block;
}
.o_form .o_row textarea {
	background: white; border: 1px solid rgb(153, 153, 153); border-image: none; width: 100%; height: 100%; color: rgb(51, 51, 51); font-size: 14px; display: inline-block;
}
.o_form .o_row input[type='text'] {
	padding: 0px 10px; height: 30px; line-height: 30px;
}
.o_form .o_row textarea {
	padding: 10px; height: auto; resize: none;
}
.o_form .o_row label {
	background: none; color: rgb(51, 51, 51); line-height: 30px; font-size: 14px; display: inline-block;
}
.o_form .o_row .o_u {
	border: currentColor !important; border-image: none !important;
}
.o_loadingBox {
	top: 50%; width: 80px; height: 80px; right: 50%; margin-top: -40px; margin-right: -40px; position: absolute; z-index: 99;
}
.o_loadingBox span {
	background: green; border-radius: 50%; width: 10px; height: 10px; overflow: hidden; display: inline-block; position: absolute; -webkit-animation: load 1s ease infinite;
}
.o_loadingBox span.o1 {
	left: 0px; top: 50%; margin-top: -5px; -webkit-animation-delay: 0.13s;
}
.o_loadingBox span.o2 {
	left: 9.75px; top: 9.75px; -webkit-animation-delay: 0.26s;
}
.o_loadingBox span.o3 {
	left: 50%; top: 0px; margin-left: -5px; -webkit-animation-delay: 0.39s;
}
.o_loadingBox span.o4 {
	top: 9.75px; right: 9.75px; -webkit-animation-delay: 0.52s;
}
.o_loadingBox span.o5 {
	top: 50%; right: 0px; margin-top: -5px; -webkit-animation-delay: 0.65s;
}
.o_loadingBox span.o6 {
	right: 9.75px; bottom: 9.75px; -webkit-animation-delay: 0.78s;
}
.o_loadingBox span.o7 {
	left: 50%; bottom: 0px; margin-left: -5px; -webkit-animation-delay: 0.91s;
}
.o_loadingBox span.o8 {
	left: 9.75px; bottom: 9.75px; -webkit-animation-delay: 1.04s;
}
.o_loadingBox .tt {
	left: 0px; top: 50%; width: 80px; text-align: center; right: 0px; color: rgb(153, 153, 153); line-height: 12px; font-size: 12px; margin-top: -6px; display: block; position: absolute;
}
.o_shade_loading {
	background: rgba(255, 255, 255, 0.5); left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 10;
}
.o_g .o_u.o_df_1-2 {
	width: 50%;
}
.o_g .o_u.o_df_2-2 {
	width: 100%;
}
.o_g .o_u.o_df_1-3 {
	width: 33.33%;
}
.o_g .o_u.o_df_2-3 {
	width: 66.66%;
}
.o_g .o_u.o_df_3-3 {
	width: 100%;
}
.o_g .o_u.o_df_1-4 {
	width: 25%;
}
.o_g .o_u.o_df_2-4 {
	width: 50%;
}
.o_g .o_u.o_df_3-4 {
	width: 75%;
}
.o_g .o_u.o_df_4-4 {
	width: 100%;
}
.o_g .o_u.o_df_1-5 {
	width: 20%;
}
.o_g .o_u.o_df_2-5 {
	width: 40%;
}
.o_g .o_u.o_df_3-5 {
	width: 60%;
}
.o_g .o_u.o_df_4-5 {
	width: 80%;
}
.o_g .o_u.o_df_5-5 {
	width: 100%;
}
.o_g .o_u.o_df_1-6 {
	width: 16.66%;
}
.o_g .o_u.o_df_2-6 {
	width: 33.33%;
}
.o_g .o_u.o_df_3-6 {
	width: 50%;
}
.o_g .o_u.o_df_4-6 {
	width: 66.66%;
}
.o_g .o_u.o_df_5-6 {
	width: 83.33%;
}
.o_g .o_u.o_df_6-6 {
	width: 100%;
}
.o_g .o_u.o_df_1-8 {
	width: 12.5%;
}
.o_g .o_u.o_df_2-8 {
	width: 25%;
}
.o_g .o_u.o_df_3-8 {
	width: 37.5%;
}
.o_g .o_u.o_df_4-8 {
	width: 50%;
}
.o_g .o_u.o_df_5-8 {
	width: 62.5%;
}
.o_g .o_u.o_df_6-8 {
	width: 75%;
}
.o_g .o_u.o_df_7-8 {
	width: 87.5%;
}
.o_g .o_u.o_df_8-8 {
	width: 100%;
}
.o_g .o_u.o_df_1-10 {
	width: 10%;
}
.o_g .o_u.o_df_2-10 {
	width: 20%;
}
.o_g .o_u.o_df_3-10 {
	width: 30%;
}
.o_g .o_u.o_df_4-10 {
	width: 40%;
}
.o_g .o_u.o_df_5-10 {
	width: 50%;
}
.o_g .o_u.o_df_6-10 {
	width: 60%;
}
.o_g .o_u.o_df_7-10 {
	width: 70%;
}
.o_g .o_u.o_df_8-10 {
	width: 80%;
}
.o_g .o_u.o_df_9-10 {
	width: 90%;
}
.o_g .o_u.o_df_10-10 {
	width: 100%;
}
.o_g .o_u.o_df_1-12 {
	width: 8.33%;
}
.o_g .o_u.o_df_2-12 {
	width: 16.66%;
}
.o_g .o_u.o_df_3-12 {
	width: 25%;
}
.o_g .o_u.o_df_4-12 {
	width: 33.33%;
}
.o_g .o_u.o_df_5-12 {
	width: 41.66%;
}
.o_g .o_u.o_df_6-12 {
	width: 50%;
}
.o_g .o_u.o_df_7-12 {
	width: 58.33%;
}
.o_g .o_u.o_df_8-12 {
	width: 66.66%;
}
.o_g .o_u.o_df_9-12 {
	width: 75%;
}
.o_g .o_u.o_df_10-12 {
	width: 83.33%;
}
.o_g .o_u.o_df_11-12 {
	width: 91.66%;
}
.o_g .o_u.o_df_12-12 {
	width: 100%;
}
.o_df-left {
	float: left !important;
}
.o_df-right {
	float: right !important;
}
.o_df-show {
	display: inline-block !important;
}
.o_df-show-block {
	display: block !important;
}
.o_df-hide {
	display: none !important;
}
.o_df-inlineblock {
	display: inline-block !important;
}
.o_df-center {
	text-align: center !important;
}
.o_df-textright {
	text-align: right !important;
}
.o_df-textleft {
	text-align: left !important;
}
.o_df-animate {
	transition-duration: 0.4s; transition-timing-function: ease-out;
}
.o_btn_df-sm {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
.o_btn_df-sm span {
	padding: 0px 15px; text-align: center; line-height: 30px; font-size: 12px; vertical-align: top; display: block;
}
.o_btn_df-sm i {
	padding: 0px 8px; top: 0px; line-height: 30px; font-size: 16px; vertical-align: top; display: inline-block; position: relative; box-sizing: border-box;
}
.o_btn_df-df {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
.o_btn_df-df span {
	padding: 0px 20px; text-align: center; line-height: 38px; font-size: 14px; vertical-align: top; display: block;
}
.o_btn_df-df i {
	padding: 0px 11px; top: 0px; line-height: 38px; font-size: 18px; vertical-align: top; display: inline-block; position: relative;
}
.o_btn_df-xl {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
.o_btn_df-xl span {
	padding: 0px 45px; text-align: center; line-height: 48px; font-size: 16px; vertical-align: top; display: block;
}
.o_btn_df-xl i {
	padding: 0px 15px; top: 0px; line-height: 48px; font-size: 20px; vertical-align: top; display: inline-block; position: relative;
}
.o_df-table {
	width: 100%; height: 100%; display: table !important; box-sizing: border-box;
}
.o_df-cell {
	width: 100%; text-align: center; vertical-align: middle; display: table-cell; box-sizing: border-box;
}
.o_font-large {
	line-height: 1.2em; font-size: 72px;
}
.o_font-middle {
	line-height: 1.2em; font-size: 32px;
}
.o_font-small {
	line-height: 1.2em; font-size: 18px;
}
.o_m_zz {
	background: url("#") rgb(0, 0, 0); left: -20px; top: -50px; right: -20px; bottom: -50px; overflow: scroll; position: fixed; z-index: 10; opacity: 0.5; transition-duration: 0.4s; transition-timing-function: ease-out;
}
@media all and (max-width:750px)
{
body .o_g .o_u.o_xs_1-2 {
	width: 50%;
}
body .o_g .o_u.o_xs_2-2 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-3 {
	width: 33.33%;
}
body .o_g .o_u.o_xs_2-3 {
	width: 66.66%;
}
body .o_g .o_u.o_xs_3-3 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-4 {
	width: 25%;
}
body .o_g .o_u.o_xs_2-4 {
	width: 50%;
}
body .o_g .o_u.o_xs_3-4 {
	width: 75%;
}
body .o_g .o_u.o_xs_4-4 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-5 {
	width: 20%;
}
body .o_g .o_u.o_xs_2-5 {
	width: 40%;
}
body .o_g .o_u.o_xs_3-5 {
	width: 60%;
}
body .o_g .o_u.o_xs_4-5 {
	width: 80%;
}
body .o_g .o_u.o_xs_5-5 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-6 {
	width: 16.66%;
}
body .o_g .o_u.o_xs_2-6 {
	width: 33.33%;
}
body .o_g .o_u.o_xs_3-6 {
	width: 50%;
}
body .o_g .o_u.o_xs_4-6 {
	width: 66.66%;
}
body .o_g .o_u.o_xs_5-6 {
	width: 83.33%;
}
body .o_g .o_u.o_xs_6-6 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-8 {
	width: 12.5%;
}
body .o_g .o_u.o_xs_2-8 {
	width: 25%;
}
body .o_g .o_u.o_xs_3-8 {
	width: 37.5%;
}
body .o_g .o_u.o_xs_4-8 {
	width: 50%;
}
body .o_g .o_u.o_xs_5-8 {
	width: 62.5%;
}
body .o_g .o_u.o_xs_6-8 {
	width: 75%;
}
body .o_g .o_u.o_xs_7-8 {
	width: 87.5%;
}
body .o_g .o_u.o_xs_8-8 {
	width: 100%;
}
body .o_g .o_u.o_xs_1-12 {
	width: 8.33%;
}
body .o_g .o_u.o_xs_2-12 {
	width: 16.66%;
}
body .o_g .o_u.o_xs_3-12 {
	width: 25%;
}
body .o_g .o_u.o_xs_4-12 {
	width: 33.33%;
}
body .o_g .o_u.o_xs_5-12 {
	width: 41.66%;
}
body .o_g .o_u.o_xs_6-12 {
	width: 50%;
}
body .o_g .o_u.o_xs_7-12 {
	width: 58.33%;
}
body .o_g .o_u.o_xs_8-12 {
	width: 66.66%;
}
body .o_g .o_u.o_xs_9-12 {
	width: 75%;
}
body .o_g .o_u.o_xs_10-12 {
	width: 83.33%;
}
body .o_g .o_u.o_xs_11-12 {
	width: 91.66%;
}
body .o_g .o_u.o_xs_12-12 {
	width: 100%;
}
body .o_xs-left {
	float: left !important;
}
body .o_xs-right {
	float: right !important;
}
body .o_xs-show {
	display: inline-block !important;
}
body .o_xs-show-block {
	display: block !important;
}
body .o_xs-hide {
	display: none !important;
}
body .o_xs-inlineblock {
	display: inline-block !important;
}
body .o_xs-center {
	text-align: center !important;
}
body .o_xs-textright {
	text-align: right !important;
}
body .o_xs-textleft {
	text-align: left !important;
}
body .o_xs-animate {
	transition-duration: 0.4s; transition-timing-function: ease-out;
}
body .o_btn_xs-sm {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
body .o_btn_xs-sm span {
	padding: 0px 15px; text-align: center; line-height: 30px; font-size: 12px; vertical-align: top; display: block;
}
body .o_btn_xs-sm i {
	padding: 0px 8px; top: 0px; line-height: 30px; font-size: 16px; vertical-align: top; display: inline-block; position: relative; box-sizing: border-box;
}
body .o_btn_xs-df {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
body .o_btn_xs-df span {
	padding: 0px 20px; text-align: center; line-height: 38px; font-size: 14px; vertical-align: top; display: block;
}
body .o_btn_xs-df i {
	padding: 0px 11px; top: 0px; line-height: 38px; font-size: 18px; vertical-align: top; display: inline-block; position: relative;
}
body .o_btn_xs-xl {
	overflow: hidden; font-size: 0px; box-sizing: border-box;
}
body .o_btn_xs-xl span {
	padding: 0px 45px; text-align: center; line-height: 48px; font-size: 16px; vertical-align: top; display: block;
}
body .o_btn_xs-xl i {
	padding: 0px 15px; top: 0px; line-height: 48px; font-size: 20px; vertical-align: top; display: inline-block; position: relative;
}
body .o_xs-table {
	width: 100%; height: 100%; display: table !important; box-sizing: border-box;
}
body .o_xs-cell {
	width: 100%; text-align: center; vertical-align: middle; display: table-cell; box-sizing: border-box;
}
body .o_font-large {
	line-height: 1.2em; font-size: 42px;
}
body .o_font-middle {
	line-height: 1.2em; font-size: 18px;
}
body .o_font-small {
	line-height: 1.2em; font-size: 12px;
}
body .o_main {
	position: relative;
}
body .o_popup {
	left: 50%; width: 320px; margin-left: -160px;
}
body .o_popup.o_alert {
	width: 300px; margin-left: -150px;
}
}


.sys{text-align:center;}
